body{
  margin: 0;
  width: 100vw;
}
.transaction{
  display: grid;
  font-size: 25px;
  grid-template-columns: repeat(5,1fr);
  justify-items: center;
  padding: 5px;
  margin: 5px;
  color: white;
  font-family: 'Calistoga', cursive;

}


#transactions{
  grid-area: trans;
  display: grid;
  align-self: center;
  justify-self: center;
  margin: 30px;
  background-color: white;
  padding: 10px;
}

#main-container{
  background-color: #EEE4E1;
  display: grid;
  grid-template-areas:"nav" 
                      "oper"
                       "trans"
                       "total";
  grid-template-rows: repeat(2, 1fr) 10fr 1fr;
  height: 100vh;
  min-height: 100vh;
}

#sum{
  grid-area: total;
  display: grid;
  justify-self: center;
  align-self: center;
  padding: 10px;
  font-family: 'Calistoga', cursive;
  font-size: 40px;
}

.button{
  margin: 4px;
  padding: 5px;
  font-size: 13px;
  font-family: 'Calistoga', cursive;
  height: fit-content;
  width: fit-content;
  color: white;
}

#new-expense{
  grid-area: oper;
  display: grid;
  background-color: white;
  width: 300px;
  height: 400px;
  justify-self: center;
  margin-top: 30px;

}

#buttons{
  display: grid;
  justify-self: center;
}

.button:hover{
  cursor: pointer;
  font-size: 12px;
  width: fit-content;
  height: fit-content;
}

.button:active{
  cursor: pointer;
  font-size: 10px;
  width: fit-content;
  height: fit-content;
}


#inputs{
  display: grid;
  justify-items: center;
  margin: 10px;
}

input{
  height: fit-content;
  margin: 10px;
  padding: 3px;
  color: #B2967D;
  font-family: 'Calistoga', cursive;
  font-size: 17px;
}

#withdraw{
  background-color: red;
}

#deposit{
  background-color: green;
}


.delete{
  display: grid;
  justify-self: center;
  font-size: 20px;
  background-color: white;
  color: black;
  font-weight: bold;
  padding: 5px;
}

.delete:hover{
  cursor: pointer;
  font-size: 18px;
  width: fit-content;
  height: fit-content;

}

.delete:active{
  font-size: 15px;
  width: fit-content;
  height: fit-content;
}

.data{
  margin: 10px;
  display: grid;
  justify-self: center;
}

a{
  text-decoration: none;
  color: black;
}

#links-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  font-size: 25px;
  justify-items: center;
  margin: 10px;
}

a:visited{
text-decoration: none;
color: black;
}

.link{
  background-color: #E7D8C9 ;
  height: fit-content;
  padding: 5px;
  box-shadow: 5px 5px 5px #B2967D;
  color: black;
  font-family: 'Lobster', cursive;
}

.link:hover {
  cursor: pointer;
  font-size: 23px;
  height: fit-content;
  width: fit-content
}

.link:active {
  font-size: 21px;
  height: fit-content;
  width: fit-content;
}

.deposit, .positive{
  background-color: green;
}

.withdraw, .negative{
  background-color: red;
}

.group{
  display: grid;
  min-width: 0;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  justify-items: center;
  height: fit-content;
  padding: 5px;
  margin: 5px;
}

#breakdown{
    margin: 20px;
    font-size: 25px;
    height: fit-content;
    background-color: white;
    padding: 10px;
    width: 50%;

}

.title{
  display: grid;
  justify-items: center;
  color: #A9700F;
  padding: 10px;
  background-color: white;
  font-family: 'Lobster', cursive;
}
 
#date{
  display: grid;
  justify-self: center;
}

#drop-down-menu{
  display: inline-block;
  grid-template-rows: 1fr 12fr;
}

.months{
  display: none;
  position: absolute;
  overflow: auto;
  z-index: 1;
  background-color: white;
  width: 5vw;
  padding: 3px;
  opacity: 0.8;
  left: 47.5vw;
  border-radius: 3px;
  text-align: center;
}

.month{
  font-size: 15px;
  margin: 10px;
  font-family: 'Lobster', cursive;
}

#drop-down-menu:hover .months{
  display: block;
}

#monthly-breakdown{
  display: grid;
  justify-self: center;
  width: 40%;
  height: fit-content;
}


.month-name{
  display: grid;
  margin: 10px;
  width: 25%;
  justify-self: center;
  justify-content: center;
  font-size: 25px;
  height: fit-content;
  background-color: white;
  padding: 10px;
  color: #A9700F;
  font-family: 'Lobster', cursive;
}

#nav{
  grid-area: nav;
  display: grid;
  height: fit-content;
}

.grouped-trans{
  color: white;
  font-size: 25px;
  font-family: 'Caveat', cursive;
}

#monthlyBreak-title{
  font-size: 20px;
}

#breakdown-container{
  display: grid;
  justify-items: center;
}

.group:hover .modal-container{
  display: grid;
  grid-template-columns: 1fr;
  width:40vw;
  left:50vw;
  background-color: white;
  border-radius: 3px;
  opacity: 0.8;
}

.modal{
  display: grid;
  grid-template-columns: 2fr repeat(3, 1fr);
  font-size: 15px;
  overflow: auto;
  z-index: 1;
  text-align: center;
  color: black;
  padding: 4px;
  font-family: 'Calistoga', cursive;
}

#placeholder{
  background-color: #E7D8C9 ;
  height: fit-content;
  padding: 5px;
  box-shadow: 5px 5px 5px #B2967D;
  color: black;
  font-family: 'Lobster', cursive;
}

.modal-container{
  display: none;
  position: absolute;
}

.nothing-to-display{
  text-align: center;
}