.transaction{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-items: center;
}

#transactions{
  grid-area: trans;
  display: grid;
  align-self: center;
  justify-self: center;
  margin: 30px;
}

#main-container{
  display: grid;
  grid-template-areas: "total"
                       "oper"
                       "trans";

  grid-template-rows: repeat(2, 1fr) 10fr;
  height: 100vh;
}

#sum{
  grid-area: total;
  display: grid;
  justify-self: flex-start;
  align-self: flex-start;
  padding: 10px;
}

button{
  margin: 4px;
  padding: 3px;
  border-radius: 3px;
}

#new-transaction-details{
  grid-area: oper;
  display: grid;
  grid-template-columns: 6fr 2fr;
}

#buttons{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  height: fit-content;
  width: fit-content;
}

#inputs{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

input{
  height: fit-content;
  margin: 5px;
}

#withdraw{
  background-color: red;
}

#deposit{
  background-color: green;
}
