body{
  margin: 0;
  width: 100vw;
}

.transaction{
  font-family: 'Courier Prime', monospace;
  font-size: 14px;
}

#landing{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(-45deg,white,#82DDF0,#DCEDFF,#54C6EB);
  font-size: 35px;
}

#transactions{
  background-image: linear-gradient(-45deg,white,#82DDF0,#DCEDFF,#54C6EB);
  border-radius: 5px;
  box-shadow: 2px 2px 5px #1B2021;
}


#main-container{
  display: flex;
  background-image: linear-gradient(180deg,white,#F7F7F2,#BCBDC0,#F7F7F2);
  flex-direction: column;
  align-items: center;
  height: 90vh;
}

#sum{
  background-image: linear-gradient(-45deg,white,#82DDF0,#DCEDFF,#54C6EB);
  border-radius: 5px;
  padding: 10px;
  font-size: 24px;
  margin: 10px;
  text-align: center;
  width: fit-content;
  box-shadow: 2px 2px 3px #1B2021;
  font-family: 'Courier Prime', monospace;
}



#new-expense{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}


#buttons{
  color: #F7F7F2;
  display: grid;
}



#inputs{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 10px;
  width: 90%;
}

input{
  background: none;
  margin: 10px;
  padding: 3px;
  border: none;
  border-radius: 2px;
  border-bottom: solid 1px black;
  /* font-size: 17px; */
  font-family: 'Courier Prime', monospace;
}

#withdraw{
  background-color: #F42C04;
  color: white;
  display: grid;
  justify-self: center;
  width: 90%;
  margin: 10px;
}

#date{
  display: grid;
  margin: auto;
  width: 50%;
}

#deposit{
  background-color: #3AB795;
  color: white;
  display: grid;
  justify-self: center;
  width: 90%;
  margin: 10px;
}


.delete{
  font-size: 12px;
  color: black;
}



.data{
  text-align: center;
  font-size: 13px;
}

a{
  text-decoration: none;
  color: black;
}

#links-container{
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #F7F7F2;
  height: 100%;
  font-size: 14px;
}

a:visited{
text-decoration: none;
color: black;
}

.link{
  height: fit-content;
    padding: 5px;
    color: black;
}


.link:active {
  background-color:rgba(58, 183, 149,0.5);
}


.deposit, .positive{
  color: #3AB795;
}

.withdraw, .negative{
  color: #F42C04;
}


/* #breakdown{
  font-size: 1em;
} */

.title{
  font-size: 12px;
}

 th, td {
  padding-right: 5px ;
}



.months{
  display: none;
  position: absolute;
  width: 45vw;
  padding: 5px;
  text-align: center;
  z-index: 1;
  overflow: auto;
  background-color:rgba(247, 247, 242, 0.9);
  border-radius: 0px 0px 5px 5px;
  box-shadow: 0px 2px 3px black;
}


.month{
  font-size: 15px;
  margin: 10px;
  color: #1B2021;
  font-family: 'Courier Prime', monospace;
}

#hamburger:hover #links-container{
  display: block;
}


#drop-down-menu:hover .months{
  display: block;
  height: 100px;
}

#monthly-breakdown{
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
} 

#monthly-breakdown-table{
  text-align: center;
}

#breakdown-table{
  text-align: center;
  width: 45vw;
  margin-top: 15px;
}


.month-name{
    font-size: 1em;
    height: fit-content;
    padding: 10px;
    color: #F7F7F2;
    background-color: #1B2021 ;
    font-family: 'Courier Prime', monospace;
}

#nav{
  height: 10vh;
  background-image: linear-gradient(-45deg,white,#82DDF0,#DCEDFF,#54C6EB);
  font-family: 'Courier Prime', monospace;
}

#hamburger{
  display: grid;
  align-items: center;
  height: 10vh;
}

.fa-bars{
  font-size: 1em;
  color: #1B2021;
  padding-left: 15px;
}

.fa-trash-alt{
  color: #1B2021;
  font-size: 12px;
}

.grouped-trans{
  font-family: 'Courier Prime', monospace;
  font-size: 13px;
}


#breakdown-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.group:hover .modal-container{
  display: block;
  background-color: white;
  border-radius: 3px;
  opacity: 0.8;
}

.modal{
  display: grid;
  grid-template-columns: 2fr repeat(3, 1fr);
  font-size: 15px;
  overflow: auto;
  z-index: 1;
  text-align: center;
  color: black;
  padding: 4px;
  font-family: 'Courier Prime', monospace;
}

#placeholder{
  background-image: linear-gradient(-45deg,white,#82DDF0,#DCEDFF,#54C6EB);
  padding: 5px;
  width: 45vw;
  text-align: center;
  font-family: 'Courier Prime', monospace;
}

.modal-container{
  display: none;
  position: absolute;
}

.nothing-to-display{
  text-align: center;
}